<!DOCTYPE html>
<html lang="en">
<head>
    <title>NetflUx</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<div id="app" class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NetflUx</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="add.html">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="modify.html">Modify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="delete.html">Delete</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-8">
            <h1>Available Movies</h1>
            <ul class="list-group">
                <li class="list-group-item" v-for="movie in movies">
                    <span class="badge badge-pill badge-primary"></span>
                    <p>Title : {{ movie.name }}</p>
                    <p>Length : {{ movie.length }}</p>
                    <p>Author : {{ movie.author }}</p>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="actor in movie.actors">
                            <span class="badge badge-pill badge-primary"></span>
                            <p>Actor : {{ actor.name }}</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<script src="app.js"></script>

</body>
</html>